@tailwind base;
@tailwind components;
@tailwind utilities;

.audio-recorder {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 20px;
    width: auto !important;
    padding: 0 !important;
    transition: all .2s ease-in;
}
.recording{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background: #e2e8f0 !important;
}
.EmojiPickerReact {
    width: 100% !important;
    height: 300px !important;
}
.EmojiPickerReact .epr-header .epr-header-overlay,
.EmojiPickerReact .epr-category-nav{
    padding: 5px 5px !important;
}
.EmojiPickerReact .Flex {
    display: none !important;
}