@tailwind base;
@tailwind components;
@tailwind utilities;

.audio-recorder {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 20px;
    width: auto !important;
    padding: 0 !important;
    transition: all .2s ease-in;
}
.recording{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background: #e2e8f0 !important;
}
.EmojiPickerReact {
    /* position: absolute !important;
    top: 0;
    left: 0; */
    width: 100% !important;
    height: 300px !important;
}
.EmojiPickerReact .epr-header .epr-header-overlay,
.EmojiPickerReact .epr-category-nav{
    padding: 5px 5px !important;
}
.EmojiPickerReact .Flex {
    display: none !important;
}
.react-scroll-to-bottom--css-lplkk-1tj0vk3{
    right: 50% !important;
    background: #11175D !important;
    clip-path: polygon(24% 0, 75% 0, 76% 44%, 100% 45%, 50% 100%, 2% 44%, 24% 44%);
    -webkit-clip-path: polygon(24% 0, 75% 0, 76% 44%, 100% 45%, 50% 100%, 2% 44%, 24% 44%);
}